<mat-card-title class="skill-title">{{skill.name}}</mat-card-title>
<mat-chip-set cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)" aria-label="Skills">
    @for (element of skill.content; track $index) {
        <mat-chip cdkDrag [matMenuTriggerFor]="addmenu" #addMenu="matMenuTrigger"
            [matMenuTriggerData]="{element:element}">
            <mat-chip-avatar>
                @if (!element.score) {
                <img class="skill-image" src="{{element.logoUrl}}" alt="{{element.name}}" /> }
                @else {
                <mat-progress-spinner matBadge="{{element.score}}" matBadgeSize="small"
                    matBadgeColor="accent" matTooltip="Score: {{element.score}}" matTooltipShowDelay="1000"
                    [value]="element.score" [diameter]="24" [strokeWidth]="3" (mouseenter)="changeColor()">
                </mat-progress-spinner>
                }
            </mat-chip-avatar>
            {{element.name}}
        </mat-chip>
    }   
    @if (editmode) {
        <mat-chip class="noprint" [matMenuTriggerFor]="addmenu" #addMenu="matMenuTrigger">
            <mat-icon>add</mat-icon>
        </mat-chip>
    }
</mat-chip-set>

<mat-menu #addmenu="matMenu">
    <ng-template matMenuContent let-element="element">
        @if (element) {
        <div class="context-menu" (click)="captureEvent($event)">
            <mat-form-field class="add-skill" appearance="outline">
                <mat-label>Skill Name</mat-label>
                <input matInput type="text" [(ngModel)]="element.name" (click)="captureEvent($event)">
            </mat-form-field>

            <mat-form-field class="add-skill" appearance="outline">
                <mat-label>{{skill.type === 'score' ? 'Score' : "Image URL"}}</mat-label>
                @if (skill.type === 'score') {
                    <input matInput type="number" min="0" max="100" [(ngModel)]="element.score"
                        (click)="captureEvent($event)">}
                @if (skill.type === 'image') {
                    <input matInput type="text" [(ngModel)]="element.logoUrl"
                (click)="captureEvent($event)">}
                
            </mat-form-field>
            <div class="spaced">
                <button mat-icon-button aria-label="Save" (click)="dismiss()">
                    <mat-icon matTooltip="Save" matTooltipShowDelay="1000" class="aprove">done</mat-icon>
                </button>
                <button mat-icon-button aria-label="Remove" (click)="deleteSkill(element)">
                    <mat-icon matTooltip="Delete" matTooltipShowDelay="1000" color="warn">close</mat-icon>
                </button>
            </div>
        </div>
       }
        @else {
        <div class="context-menu" (click)="captureEvent($event)">
            <mat-form-field class="add-skill" appearance="outline">
                <mat-label>Skill Name</mat-label>
                <input matInput type="text" [(ngModel)]="newSkill" (click)="captureEvent($event)">
            </mat-form-field>

            <mat-form-field class="add-skill" appearance="outline">
                <mat-label>{{skill.type === 'score' ? 'Score' : "Image URL"}}</mat-label>
                @if (skill.type === 'score') {
                    <input matInput type="number" min="0" max="100" [(ngModel)]="newScore" (click)="captureEvent($event)">
                }
                @if (skill.type === 'image') {
                    <input matInput type="text" [(ngModel)]="newUrl" (click)="captureEvent($event)">
                }

            </mat-form-field>
            <div class="spaced">
                <button mat-icon-button aria-label="Save" (click)="addSkill()">
                    <mat-icon matTooltip="Save" matTooltipShowDelay="1000" class="aprove">done</mat-icon>
                </button>
                <button mat-icon-button aria-label="Remove" (click)="dismiss()">
                    <mat-icon matTooltip="Delete" matTooltipShowDelay="1000" color="warn">close</mat-icon>
                </button>
            </div>
        </div>
    }
    </ng-template>
</mat-menu>